<nav class="menu active">
    <!--   <button id='close-menu'>Close</button>-->
    <div class="scrolling">
        <ul>
            <li class="section"><a href="home.html">Home</a>
                <ul>
                    <li><a href="home.html#add-project">1. Add Project</a></li>
                    <li><a href="home.html#design-develop">2. Design and Develop</a></li>
                    <li><a href="home.html#upload-files">3. Upload Files</a></li>
                    <li><a href="home.html#set-tasks">4. Set Tasks</a></li>
                    <li><a href="home.html#in-progress">5. In Progress</a></li>
                    <li><a href="home.html#end">6. End</a></li>
                </ul>
            </li>
        </ul>
        <p class="contact" style="font-size:90%;"><a href="courseproduction@bcit.ca">courseproduction@bcit.ca</a></p>
    </div>
</nav>